<%- include ("partials/header") %>
<header class="jumbotron">
    <H1>
        Welcome to PawStore <i class="fas fa-paw fa-lg"></i>
    </H1>
    <p>
        Only the best for your furry friend.
    </p>

</header>
<div class="row">
    <div class="col-md-6 col-sm-12 position-relative">
        <div class="card">
            <img style="height:350px" class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRnciW3utT9v__M-Uszt9XFwCdb9sMDwPkoP5OLdF9MQGes8yAq">
            <div class="card-img-overlay">
    
                    <a href="/toys" class="btn btn-lg stretched-link">TOYS</a>
    
            </div>
        </div>
        
    </div>
    <div class="col-md-6 col-sm-12 position-relative">
        

                <div class="card ">
                <img style="height:350px" class="card-img-top img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRT9jPccSOfwSqvDyvXALqOPqsAXd-kStZg1E2l9s7LOSIdJn6J">
                <div class="card-img-overlay">

                    <a href="/foods" class="btn btn-lg stretched-link">FOOD</a>

                </div>
  
            
        </div>
    </div>
</div>



<%- include ("partials/footer") %>